* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bgcolor-1: #6dd4fb;
  --body-bgcolor-2: #337beb;
  --cont-bgcolor-1: #fff;
  --cont-bgcolor-2: #eef0f3;
  --color-blue: #5ca8e0;
  --color-red: #f52f57;
  --color-green: #37d7b2;
  --color-white: #fff;
  --text-color-dark: #333;
  --text-color-light: #999;
  --shadow-light: rgba(0, 0, 0, 0.2);
  --shadow-dark: rgba(0, 0, 0, 0.4);
  --svg-color: #ddd;
}

html {
  font-size: 1rem;
}

body {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  background: radial-gradient(
    circle at top,
    var(--body-bgcolor-1),
    var(--body-bgcolor-2)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Assistant", sans-serif;
}

textarea::placeholder,
input::placeholder {
  color: var(--text-color-light);
}

.superior-cont {
  height: 29.875rem;
  width: 16.875rem;
  background: radial-gradient(
    circle at top,
    var(--cont-bgcolor-1),
    var(--cont-bgcolor-2)
  );

  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 2rem -0.25rem var(--shadow-dark);
  overflow: hidden;
  position: relative;
}
.container {
  height: calc(100% - 3.125rem);
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  left: 0;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

header {
  width: 100%;
  height: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  padding: 0 3%;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.discard-btn {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--color-blue);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.discard-btn:hover {
  transform: rotate(4deg) scale(1.2);
}

.fullscreen {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: calc(50% - 1.25rem);
  left: 3rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--color-blue);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.fullscreen:hover {
  transform: scale(1.2);
}

.search-btn {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.search-btn:hover::before,
.search-btn:hover::after {
  box-shadow: 0 0 0.375rem -0.125rem var(--color-blue);
}
.search-btn::before {
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
  top: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  border: 0.125rem solid var(--color-blue);
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in-out;
}
.search-btn::after {
  content: "";
  height: 0.5rem;
  width: 0.125rem;
  position: absolute;
  top: calc(50%);
  left: calc(50% + 0.1875rem);
  background-color: var(--color-blue);
  transform: rotate(-45deg);
  transition: box-shadow 0.2s ease-in-out;
}

h1 {
  text-align: center;
  font-size: 1rem;
  color: var(--text-color-dark);
}

.tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.5rem;
}

.task {
  position: relative;
  width: 94%;
  min-height: 2.625rem;
  height: min-content;
  background-color: var(--color-white);
  border-radius: 1.3125rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding: 0.625rem 1rem;
  font-size: 0.8125rem;
  line-height: 0.875rem;
  box-shadow: 0 0.25rem 1.25rem -0.625rem var(--shadow-light);
  margin: 0.25rem 0 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}
.task:hover {
  box-shadow: 0 0.25rem 0.875rem -0.25rem var(--shadow-light);
}
.useless textarea {
  color: var(--color-red) !important;
}

.checker {
  position: absolute;
  right: 0.6875rem;
  top: calc(50% - 0.625rem);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--color-white);
  box-shadow: 0 0.25rem 0.625rem -0.125rem var(--shadow-light);
  color: var(--color-white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.625rem;
  font-size: 0.625rem;
  transition-property: background, box-shadow, border-radius;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.checker::before {
  content: "";
  position: absolute;
  left: calc(50% - 0.125rem);
  top: calc(50% - 0.375rem);
  width: 0.25rem;
  height: 0.5625rem;
  transform: rotate(45deg);
}

.check {
  background-color: var(--color-green);
  box-shadow: 0 0.25rem 0.625rem -0.125rem var(--color-green);
}

.check::before {
  border: none;
  border-right: 0.0625rem solid var(--color-white);
  border-bottom: 0.0625rem solid var(--color-white);
}
.checking::before {
  border: none;
}

.checking {
  border-radius: 0.25rem;
  background: none;
  box-shadow: 0 0.25rem 0.625rem -0.125rem var(--shadow-light);
}

.red-mark {
  background-color: var(--color-red);
  box-shadow: 0 0.25rem 0.625rem -0.125rem var(--color-red);
}
.red-mark::before {
  border-right: 0.0625rem solid var(--color-white);
  border-bottom: 0.0625rem solid var(--color-white);
}

.spacer {
  width: 100%;
  height: 18.125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1.875rem;
}

.spacer p {
  font-size: 0.8125rem;
  color: var(--text-color-light);
  text-align: center;
  width: 100%;
}

#deco {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#deco svg {
  width: 50%;
  color: var(--svg-color);
  opacity: 0;
}
.deco svg {
  transition: opacity 0.2s ease-in-out;
  opacity: 1 !important;
}

.btn-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.375rem;
  background: linear-gradient(to bottom, transparent, var(--color-white));
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.select-btn {
  position: absolute;
  bottom: 1.375rem;
  left: 2.625rem;
  width: 2.875rem;
  height: 2.875rem;
  border: none;
  border-radius: 50%;
  background-color: var(--color-green);
  cursor: pointer;
  box-shadow: 0 0.25rem 0.625rem -0.375rem var(--color-green);
  color: var(--color-white);
  transition-property: visibility, opacity, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.select-btn:hover {
  box-shadow: 0 0.25rem 0.625rem -0.125rem var(--color-green);
}
.select-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.5625rem);
  left: calc(50% - 0.5625rem);
  width: 0.875rem;
  height: 0.875rem;
  border: 0.125rem solid var(--color-white);
  border-radius: 0.25rem;
}

.add-btn {
  position: relative;
  bottom: 1.125rem;
  width: 3.375rem;
  height: 3.375rem;
  border: none;
  border-radius: 50%;
  background-color: var(--color-blue);
  cursor: pointer;
  box-shadow: 0 0.25rem 0.625rem -0.375rem var(--color-blue);
  transition-property: visibility, opacity, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.add-btn:hover {
  box-shadow: 0 0.25rem 0.625rem -0.125rem var(--color-blue);
}

.add-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.0625rem);
  left: calc(50% - 0.6875rem);
  width: 1.375rem;
  height: 0.125rem;
  background-color: var(--color-white);
}
.add-btn::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.6875rem);
  left: calc(50% - 0.0625rem);
  width: 0.125rem;
  height: 1.375rem;
  background-color: var(--color-white);
}

.delete-btn {
  position: absolute;
  bottom: 1.375rem;
  right: 2.625rem;
  width: 2.875rem;
  height: 2.875rem;
  border: none;
  border-radius: 50%;
  background-color: var(--color-red);
  cursor: pointer;
  box-shadow: 0 0.25rem 0.625rem -0.375rem var(--color-red);
  color: var(--color-white);
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.delete-btn:hover {
  box-shadow: 0 0.25rem 0.625rem -0.125rem var(--color-red);
}
.show {
  visibility: visible;
  opacity: 1;
}

.completed textarea {
  text-decoration: line-through;
  color: var(--text-color-light);
  resize: none !important;
}

.text {
  width: calc(100% - 1.625rem);
  min-height: 1.375rem;
  max-height: 6.25rem;
  border: none;
  outline: none;
  font-family: "Assistant", sans-serif;
  font-size: 0.875rem;
  resize: vertical;
  line-height: 1.125rem;
  transition: height 0.2s ease-in-out;
  color: var(--text-color-dark);
}

.disabled {
  resize: none !important;
  cursor: pointer;
  user-select: none;
}

.search-box {
  position: relative;
  margin-top: -2.625rem;
  width: 100%;
  height: 2.625rem;
  background-color: var(--color-green);
  padding: 0.375rem 3%;
  box-shadow: 0 0.25rem 1.25rem -0.625rem var(--shadow-light);
  transition: margin 0.2s ease-in-out;
}

.search-box input {
  width: 100%;
  height: 100%;
  padding: 0 6%;
  border: none;
  border-radius: 0.9375rem;
  font-size: 0.8125rem;
  line-height: 0.875rem;
  color: var(--text-color-dark);
  outline: none;
}

.alert {
  position: absolute;
  margin-top: 0.5rem;
  width: 100%;
  height: 2.625rem;
  background-color: var(--color-red);
  box-shadow: 0 0.25rem 1.25rem -0.625rem var(--shadow-light);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-dark);
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
  z-index: 50;
}

.show-alert {
  transform: translateY(2.625rem);
}

.filtered {
  display: none;
}

.shake {
  animation: shake 0.2s ease-in-out;
}
.eraseAnimation {
  animation: eraseAnimation 0.2s ease-in-out forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0rem);
  }
  25% {
    transform: translateX(0.125rem);
  }
  50% {
    transform: translateX(-0.125rem);
  }
  75% {
    transform: translateX(0.125rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes eraseAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@media screen and (min-width: 240px) {
  html {
    font-size: 14px;
  }
  .superior-cont {
    height: 100%;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}
@media screen and (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 410px) {
  html {
    font-size: 24px;
  }
}
/*
@media screen and (min-width: 600px) {
  html {
    font-size: 26px;
  }
}
@media screen and (min-width: 700px) {
  html {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 30px;
  }
} */
@media screen and (min-width: 600px) and (min-height: 600px) {
  html {
    font-size: 20px;
  }
  .superior-cont {
    height: 29.875rem;
    width: 16.875rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 2rem -0.25rem var(--shadow-dark);
  }
}
@media screen and (min-width: 700px) and (min-height: 800px) {
  html {
    font-size: 28px;
  }
}
@media screen and (min-width: 800px) and (min-height: 900px) {
  html {
    font-size: 30px;
  }
}
@media screen and (min-width: 1000px) and (min-height: 1000px) {
  html {
    font-size: 34px;
  }
}
