* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bgcolor-1: #6dd4fb;
  --body-bgcolor-2: #337beb;
  --cont-bgcolor-1: #fff;
  --cont-bgcolor-2: #eef0f3;
  --btn-color: #5ca8e0;
  --btn-color-red: #f52f57;
  /* #e73c61 */
  /* f7567c */
  --check-color-1: #fff;
  --check-color-2: #37d7b2;
}

body {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  background: radial-gradient(
    circle at top,
    var(--body-bgcolor-1),
    var(--body-bgcolor-2)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Assistant", sans-serif;
}

.superior-cont {
  height: 478px;
  width: 270px;
  background: radial-gradient(
    circle at top,
    var(--cont-bgcolor-1),
    var(--cont-bgcolor-2)
  );

  border-radius: 8px;
  box-shadow: 0 4px 32px -4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
}
.container {
  height: calc(100% - 50px);
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  left: 0;
  /* scroll-behavior: smooth; */
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  padding: 0 3%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.trash {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--btn-color);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.trash:hover {
  transform: rotate(4deg) scale(1.2);
}

.search {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.search:hover::before,
.search:hover::after {
  box-shadow: 0 0 6px -2px var(--btn-color);
}
.search::before {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  border: 2px solid var(--btn-color);
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in-out;
}
.search::after {
  content: "";
  height: 8px;
  width: 2px;
  position: absolute;
  top: calc(50% + 0px);
  left: calc(50% + 3px);
  background-color: var(--btn-color);
  transform: rotate(-45deg);
  transition: box-shadow 0.2s ease-in-out;
}

h1 {
  text-align: center;
  font-size: 16px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.tasks {
  width: 100%;
  /* height: calc(100% - 50px); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
}

.task {
  position: relative;
  width: 94%;
  min-height: 42px;
  height: min-content;
  background-color: #fff;
  border-radius: 21px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding: 10px 16px;
  font-size: 13px;
  line-height: 14px;
  box-shadow: 0 4px 20px -10px rgba(0, 0, 0, 0.2);
  margin: 4px 0 8px;
  cursor: pointer;
  color: #111;
  transition: box-shadow 0.2s ease-in-out;
}
.task:hover {
  box-shadow: 0 4px 14px -4px rgba(0, 0, 0, 0.2);
}

/* .task:first-child {
  margin-top: 12px;
} */
/* .task:last-child {
  margin-bottom: 120px;
} */

.checker {
  position: absolute;
  right: 11px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--check-color-1);
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  font-size: 10px;
  transition-property: background, box-shadow, border-radius;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.checker::before {
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  top: calc(50% - 6px);
  width: 4px;
  height: 9px;
  transform: rotate(45deg);
}

.check {
  background-color: var(--check-color-2);
  box-shadow: 0 4px 10px -2px var(--check-color-2);
}

.check::before {
  border: none;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.checking::before {
  border: none;
}

.checking {
  border-radius: 4px;
  background: none;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
}

/* .deleteTask {
  background-color: orangered;
} */

.forDeleting {
  background-color: var(--btn-color-red);
  box-shadow: 0 4px 10px -2px var(--btn-color-red);
}
.forDeleting::before {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.spacer {
  width: 100%;
  /* margin-top: 140px; */
  height: 290px;
  /* background-color: turquoise; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
}

.spacer p {
  font-size: 13px;
  color: #999;
  text-align: center;
  width: 100%;
}

#deco {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#deco svg {
  width: 50%;
  color: #ddd;
  opacity: 0;
}
.deco svg {
  transition: opacity 0.2s ease-in-out;
  opacity: 1 !important;
}

.btn-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background: linear-gradient(to bottom, transparent, #fff);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.select-btn {
  position: absolute;
  bottom: 22px;
  left: 42px;
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 50%;
  background-color: var(--check-color-2);
  cursor: pointer;
  box-shadow: 0 4px 10px -6px var(--check-color-2);
  color: #fff;
  transition-property: visibility, opacity, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.select-btn:hover {
  box-shadow: 0 4px 10px -2px var(--check-color-2);
}
.select-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-radius: 4px;
}

.add-btn {
  position: relative;
  bottom: 18px;
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 50%;
  background-color: var(--btn-color);
  cursor: pointer;
  box-shadow: 0 4px 10px -6px var(--btn-color);
  transition-property: visibility, opacity, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.add-btn:hover {
  box-shadow: 0 4px 10px -2px var(--btn-color);
}

.add-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 11px);
  width: 22px;
  height: 2px;
  background-color: #fff;
}
.add-btn::after {
  content: "";
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 1px);
  width: 2px;
  height: 22px;
  background-color: #fff;
}

.delete-btn {
  position: absolute;
  bottom: 22px;
  right: 42px;
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 50%;
  background-color: var(--btn-color-red);
  cursor: pointer;
  box-shadow: 0 4px 10px -6px var(--btn-color-red);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.delete-btn:hover {
  box-shadow: 0 4px 10px -2px var(--btn-color-red);
}
.show {
  visibility: visible;
  opacity: 1;
}

.completed * {
  text-decoration: line-through;
  color: #bbb;
  resize: none !important;
  /* height: 22px; */
  line-height: 22px;
}

.text {
  width: calc(100% - 26px);
  min-height: 22px;
  max-height: 100px;
  border: none;
  outline: none;
  font-family: "Assistant", sans-serif;
  font-size: 14px;
  resize: vertical;
  line-height: 1.3;
  transition: height 0.2s ease-in-out;
  color: #333;
  /* user-select: none; */
}

.disabled {
  resize: none !important;
  cursor: pointer;
  user-select: none;
}

.search-box {
  position: relative;
  margin-top: -42px;
  width: 100%;
  height: 42px;
  background-color: turquoise;
  padding: 6px 3%;
  box-shadow: 0 4px 20px -10px rgba(0, 0, 0, 0.2);
  transition: margin 0.2s ease-in-out;
}

.search-box input {
  width: 100%;
  height: 100%;
  padding: 0 6%;
  border: none;
  border-radius: 15px;
  font-size: 13px;
  line-height: 14px;
  color: #111;
  outline: none;
}

.filtered {
  /* opacity: 0; */
  display: none;
}

.shake {
  animation: shake 0.2s ease-in-out;
}
.endAnimation {
  animation: endAnimation 0.2s ease-in-out forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes endAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
